@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLeftLayout.cshtml";
}


<section class="section" style="margin-top:20px;">
    <div class="row">
        
        <div class="col-lg-3">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">En Pahalı Futbolcular</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">En Çok Asist Yapanlar</h5>
                    <p>...</p>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            @foreach (var item in Model)
            {
                <div class="">
                    <div class="card-header">
                        <a href="#" class="ri-account-circle-fill bx-pull-left ri-2x"></a>
                        <a href="/WriterProfile/WriterProfiles/@item.Writer.WriterID/" class="ql-size-small">@item.Writer.WriterName @item.Writer.WriterSurname</a> <br />
                        <span class="text-muted small pt-2 ps-1">@(((DateTime)item.BlogCreateDate).ToString("dd.MM.yyyy"))</span>
                    </div>
                    
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/BlogImageFiles/@item.BlogImage" style="height:200px;" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">   
                                    <h5 class="card-title">@item.BlogTitle</h5>
                                    <p class="card-text">@item.BlogContent <a href="/Blog/BlogReadAll/@item.BlogID/" class="font-weight-bold">Devamını Oku ...</a></p>
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            

        </div>
        <div class="col-lg-3">

            <div class="" style="height:400px;">
                <div class="">
                    <div id="fs-standings"></div>
                    <script>(function (w, d, s, o, f, js, fjs) { w['fsStandingsEmbed'] = o; w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) }; js = d.createElement(s), fjs = d.getElementsByTagName(s)[0]; js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs); }(window, document, 'script', 'mw', 'https://cdn.footystats.org/embeds/standings.js')); mw('params', { leagueID: 6125 });</script>
                </div>
            </div>
            @await Component.InvokeAsync("GetMostValuablePlayer")

        </div>
    </div>
</section>


