@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Yetenek Güncelleme </h5>
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm("UpdateSkill", "Admin", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.SkillID, new { @class = "form-control", @style = "margin-top:8px;" })
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Gol</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.Goal, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Asist</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.Assist, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">BBC</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.BBC, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">AnahtarPas</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.KeyPass, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">İsabetli Şut</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.ShootsOnTarget, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">İsabetsiz Şut</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.ShootsOffTarget, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Kırmızı Kart</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.RedCards, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Sarı Kart</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.YellowCards, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Başarısız Dripling</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.UnsuccessfulDribbling, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Başarılı Dripling</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.SuccesfulDribbling, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Kazanılan İkili Mücadele</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.AerialDuelsWon, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Kaybedilen ikili Mücadele</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.AerialDuelsLost, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Pozisyon Kaybı</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.PossesionLost, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Kazanılan Pozisyon</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.PossesionWon, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Penaltı</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.Penalties, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Uzun Top</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.LongBall, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Yedek Maç Sayısı</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.BenchMatch, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">İlk 11</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.StartedMatch, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Reyting</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.Rating, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">MOTM</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.MOTM, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Yetenek Futbolcu Adı</label>

                        <div class="col-sm-3">@Html.TextBoxFor(x => x.SkillPlayerName, new { @class = "form-control", @style = "" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary btn-sm" type="submit">Yetenek Güncelle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
